@import "tailwindcss";

@theme {
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);
  --color-brown: #C83B0E;
  --font-red-hat: 'Red Hat Text', sans-serif;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('/fonts/static/RedHatText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('/fonts/static/RedHatText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
